@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root{
    --Fonte_Padrao: 'Tilt Neon', cursive;
    --Fonte_Titulo: 'Kaushan Script', cursive;
    --Cor_de_Fundo: #8EA7E9;
    --Cor_de_Lembrete: #E5E0FF;
}

html, body{
    font-family: var(--Fonte_Padrao);
    background-color: var(--Cor_de_Fundo);
}

.principal{
    color: white;
    font-size: 2em;
    font-family: var(--Fonte_Titulo);
}

.container{
    background-color: var(--Cor_de_Lembrete);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    height: 70vh;
    width: 30vw;
    border: solid 0.1px black;
    border-radius: 15px;
    overflow: auto;
}

.titulo{
    display: block;
    padding: 20px;
}

.segundo_titulo{
    display: inline-block;
    margin: 0;
    padding: 10px 0 10px 0;

}

.criar_lembrete{
    display: block;
    padding: 20px;
    padding-top: 0;
}

.input_de_informacao{
    margin: 5px;
    border: solid 0.1px gray;
    border-radius: 5px;
    height: 5vh;
    width: 15vw;
}

.botao{
    padding: 0;
    margin: 0;
    margin-right: 25px;
    display: flex;
    justify-content: end;
}

.btnCriar{
    cursor: pointer;
    background-color: rgb(40, 103, 219);
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    height: 5vh;
    width: 6vw;
}

.listar_lembrete{
    display: block;
    padding: 20px;
    padding-top: 0;
}

p{
    padding: 5px;
}

h3{
    padding: 2px;
}

.apagar_lembrete{
    font-size: 0.6em;
    background-color: red;
    color: white;
    border: solid 0.1px white;
    border-radius: 50%;
    cursor: pointer;
    padding: 2.6px;
    text-align: center;
}

footer{
    margin-top: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9em;
}

a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}